.main {
    padding: 118px 0;
    margin: 0 auto;

    background: hsla(27, 82%, 96%, 1);

    background: linear-gradient(90deg, hsla(27, 82%, 96%, 1) 20%, hsla(0, 0%, 100%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(27, 82%, 96%, 1) 20%, hsla(0, 0%, 100%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(27, 82%, 96%, 1) 20%, hsla(0, 0%, 100%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FDF3EB", endColorstr="#FEFEFE", GradientType=1);
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.header h2 {
    font-size: 28px;
    text-align: left;
    color: #3c3c3c;
    line-height: 125%;
    font-weight: 600;
}

.header .viewAll {
    background-color: var(--accent-color);
    color: #fff;
    font-weight: 600;
    padding: 0.7rem 1.1rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 500ms ease-in-out;
}

.header .viewAll:hover {
    background-color: #5f9e9e;
}

.header .viewAll img {
    margin-left: 8px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, 285px);
    justify-content: center;
}

.card {
    border-radius: 4px;
    background-color: #e5e5e5;
    padding: 1rem;
    border: 1px solid #e3e3e3;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    width: fit-content;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 12px #f1f1f1;
}

.card img {
    height: 324px;
    border-radius: 2px;
}

.card h2 {
    font-size: 16px;
    color: #3c3c3c;
    line-height: 125%;
    font-weight: 600;
    margin-left: 12px;
    margin-top: 12px;
    text-transform: capitalize;
}