.main {
  padding-top: 5.6rem;
}

.main h1 {
  font-size: 28px;
  text-align: center;
  color: #3c3c3c;
  line-height: 125%;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
}

.main .godetia {
  color: var(--primary-color);
  font-family: "Alkatra", serif;
  font-size: 34px;
}

.cardStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;

  position: sticky;
  top: 0;
  transform-origin: center top;
}

.card {
  width: 724px;
  background-color: #00808026;
  border-radius: 1em;
  padding: 3.2rem;
  box-shadow: 0 0 0 3px #0097974d;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 0;
}

.card img {
  margin-bottom: 12px;
}

.card h2 {
  font-size: 20px;
  color: #3c3c3c;
  line-height: 125%;
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.card p {
  font-size: 1rem;
  line-height: 150%;
  color: #636363;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin: 0 auto;
}
