.main {
  padding: 128px 0;

  background-image: url('/assets/bg5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main h1 {
  font-size: 28px;
  text-align: center;
  color: #3c3c3c;
  line-height: 125%;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

.main .godetia {
  color: var(--primary-color);
  font-family: "Alkatra", serif;
  font-size: 34px;
}

.cardStack {
  list-style-type: none;
}

.card {
  width: 724px;
  background-color: #deecec;
  border-radius: 8px;
  padding: 3.2rem;
  box-shadow: 0 0 0 3px #0097971c;
  margin: 0 auto;
  margin-bottom: 2.2rem;
}

.card img {
  margin-bottom: 12px;
}

.card h2 {
  font-size: 20px;
  color: #3c3c3c;
  line-height: 125%;
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.card p {
  font-size: 1rem;
  line-height: 150%;
  color: #636363;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin: 0 auto;
}