.main {
    margin: 0;
    padding: 1.8rem;
    padding-bottom: 4.8rem;
    background-image: linear-gradient(to bottom, #fdfdfe, #fdfbfd, #fdf9fa, #fef7f6, #fcf6f2);
}

.container {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    gap: 1.2rem;
    border-radius: 8px;
    padding: 48px 64px 0 64px;
    background: linear-gradient(45deg, #00808078, #fff);
    border: 1px solid #b0cfce;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left h1 {
    font-size: 28px;
    color: #3c3c3c;
    line-height: 125%;
    font-weight: 600;
    margin: 0;
    margin-top: 2.4rem;
}

.left .godetia {
    color: var(--primary-color);
    font-family: "Alkatra", serif;
    font-size: 34px;
}

.left p {
    font-size: 17px;
    line-height: 150%;
    color: #fff;
    color: #636363;
    font-weight: 400;
    letter-spacing: 0.1px;
    width: 624px;
    margin: 0;
    margin-top: 8px;
}

.left .ctaButton {
    font-size: 1rem;
    font-weight: 600;
    background-color: #de7a03;
    padding: 0.7rem 1.1rem;
    border-top-left-radius: 14px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 1px;
    color: #fff;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    margin-top: 1.6rem;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.left .ctaButton:hover {
    color: #fff;
    background-color: #b4844a;
}

.right {
    display: flex;
}

.right img {
    height: 324px;
}